<!--
    Pipes are used for taking the input and transform it into the desired output.
    The pipe symbol (|) is used to apply the pipe to the input.
    The uppercase pipe is used to transform the input into uppercase.
    there are some built-in pipes in angular like uppercase, lowercase, date, currency, json, slice, percent, decimal, etc.
    we can also create our own custom pipes.
    for reference: https://angular.io/guide/pipes-overview
-->
<h1>{{data|uppercase}}</h1>
<h1>{{data|lowercase}}</h1>
<h1>{{data|titlecase}}</h1>
